table{
    background-color: transparent;
    height: 50px;
    /* position: fixed; */
    /* top: 0; */
      margin-right: 15px;
          z-index: 1;
          width: 100%;
  }
  td{
    width: 200px;
    border-left: 2px solid #c43a2f;
  }
  table ,td{
    text-align: center;
    font-family: "Maiandra GD";
  }
  .subnav {
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none;
  }
  
  
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    font-size: 16px;
    left: 0;
    color:rgb(0, 0, 0);
    /* background-image: linear-gradient(to bottom right, #eca392, #b85842, #da6c52, #eca392); */
    background-color: #ced2d3;
    /* border:2px solid #c43a2f; */
    line-height: 2;
    padding-left: 250px;
    height: 200px;
    width: 100%;
    z-index: 1;
    border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
    /* transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; */
  }
  
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    text-decoration: none;
    color: black;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
    
  }
  .vl {
    border-right: 2px solid #c43a2f;
    position: absolute;
    padding-right: 100px;
  }
  .navpics{
    width: 200px;
    height: 135px;
    margin-left: 50px;
    border-radius: 20px;
  }
 