<table align="right">
    <tr>
      <td id="Home"><a routerLink='/'><b>HOME</b></a></td>
      <td>
        <div class="subnav" >
          <button class="subnavbtn"><a routerLink='/bedding'><b>BEDDING </b></a><i class="fa fa-caret-down"></i></button>
          <div class="subnav-content" >
            
            <br>
            <div class="vl">
              <a href="#careers">Bed Blankets</a><br>
            <a href="#team">Sheets & Pillowcases</a><br>
            <a href="#careers">Duvets & Quilts</a><br>
            <br>
            </div>
            
            <img class="navpics" src="assets/beddingnav.jpg">
              <img class="navpics" src="assets/badding2nav.jpg">
              
             
          </div>
          
        </div></td>
      <td><div class="subnav">
        <button class="subnavbtn"><a routerLink='/furniture'><b>FURNITURE </b></a><i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          
          <br>
          <div class="vl">
          <a href="#company">Chairs</a><br>
          <a href="#team">Tables & Shelves</a><br>
          <a href="#careers">Ottomans & poufs</a>
          <br>
          <br>
          </div>
          <img class="navpics" src="assets/furniture1.jpg">
          <img class="navpics" src="assets/furniture2.jpg">
        </div>
      </div></td>
      <td><div class="subnav">
        <button class="subnavbtn"><a routerLink='/bath'><b>BATH & KITCHEN </b></a><i class="fa fa-caret-down"></i></button>
        <div class="subnav-content" >
          <br>
          <div class="vl">
          <a href="#company">Towels & Bath Mats</a><br>
          <a href="#careers">Shower Curtains</a><br>
          <a href="#team">Tableware</a>
          
          <br>
          <br>
          <!-- <div class="vl"></div> --></div>
          <img class="navpics" src="assets/bk1.jpg">
          <img class="navpics" src="assets/bk2.jpg">
        </div>
      </div></td>
      <td style="color: #cb2027;"><b>SIGN OUT</b></td>
    </tr>
  </table>