<br>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/bedding2.jpg" alt="Avatar" style="width:100%">
        <button class="btn"><a routerLink='/bedding'><b>Bedding</b></a></button>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/furniture3.jpg" alt="Avatar" style="width:100%">
        <button class="btn"><a routerLink='/furniture'><b>Furniture</b></a></button>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/assets/bk.jpg" alt="Avatar" style="width:100%">
        <button class="btn"><a routerLink='/bath'><b>Bath & Kitchen</b></a></button>
      </div>
    </div>
    </div>
