<br>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/bedding2.jpg" alt="Avatar" style="width:100%">
        <button class="btn"><b>Bedding</b></button>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/furniture3.jpg" alt="Avatar" style="width:100%">
        <button class="btn"><b>Furniture</b></button>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/assets/bk.jpg" alt="Avatar" style="width:100%">
        <button class="btn"><b>Bath & Kitchen</b></button>
      </div>
    </div>
    </div>
