.imageBox {
    position: relative;
    float: left;
  }
  .bg{
    background-color: #f2f0f1;
  }
   .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
   
  }
  .imageInn
  {
    transition-property: opacity;
    transition-duration: 50s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  
  .imageBox:hover .hoverImg {
    display: block;
    transition-delay: 10s;
    transition-property: opacity;
    transition-duration: 50s;
    transition-timing-function: ease;
    transition-delay: 10s;
  }
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    margin-left: 65px; 
     margin-right: 10px;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }


  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #272423;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
     /* padding: 20px;  */
    width: 150px;
    height:50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 20px;
    margin-top:50px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .p1
  {
    margin-top: -40px;
    /* font-family: Bahnschrift SemiBold; */
  }
  .p2
  {
    margin-top: -60px;
    font-family: Bahnschrift SemiBold;
  }
  .p3
  {
    margin-top: -15px;
    /* font-family: Bahnschrift SemiBold; */
  }
  .p4
  {
    font-family: Bahnschrift SemiBold;
  }
  .p6
  {
    margin-left: 70px; 
    font-family: Tw Cen MT;
    font-size: 30px;
    color: #4e4a4a;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none;
  }