<div class="row" style="justify-content: center;">
    <div class="flip-card" style="margin-top: 25px;">
    <div class="flip-card-inner">
      <div class="flip-card-front" >
        <img src="/assets/f1.jpg" alt="Avatar" style="width:200px;height:400px;">
      </div>
      <div class="flip-card-back" style="padding-top: 55px;">
        <p>We believe an object is only as beautiful as the environment in which it’s made. 
          That’s why we travel the globe to bring the world’s best craftsmanship home to you.</p>
<p>Each collection is made with the finest materials. All thoughtfully designed and ethically 
  crafted by master artisans.</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front" >
        <img src="/assets/f4.jpg" alt="Avatar" style="width:200px;height:400px;">
      </div>
      <div class="flip-card-back" style="padding-top: 40px;">
        <p>The year was 1921, and the Machado brothers found themselves opening their first textile mill 
          on the banks of the Vizela River in Northern Portugal. They made a commitment to 
          using only the highest quality materials and production techniques.</p>

          <p>Fast forward 100 years, and today, it just takes one touch of the mill’s super-soft fabrics 
            to tell their plan worked out. </p> 
        
      </div>
    </div>
  </div>
  <div class="flip-card" style="margin-top: 25px;">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/f3.jpg" alt="Avatar" style="width:200px;height:400px;">
      </div>
      <div class="flip-card-back" style="padding-top: 55px;">
        
        <p>A modern take on India's rich craft culture.
          Soft earth tones, lots of texture, and a dose of architectural elements.</p> 
        <p>The crafts of India are diverse, rich in history, culture and religion. The craft of each state in 
          India reflect the influence of different empires. </p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/f2.jpg" alt="Avatar" style="width:200px;height:400px;">
      </div>
      <div class="flip-card-back" style="padding-top: 20px;">
        
        <p>Behind a nondescript door in Mexico City’s San Rafael neighborhood, you’ll find a workshop 
          that’s a masterpiece in itself – twenty foot ceilings, factory windows, and perfectly organized 
          stacks of wood, leathers, and machinery.</p> 
        <p>Today, this workshop is made up of 20 skilled craftsmen.For months, they have worked tirelessly to perfect every detail. 
          The end result is nothing less than magic.</p>
      </div>
    </div>
  </div>
  <div class="flip-card" style="margin-top: 25px;">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/f5.jpg" alt="Avatar" style="width:200px;height:400px;">
      </div>
      <div class="flip-card-back" style="padding-top: 30px;">
        <p>Driving through the NH-7 in India, on either side of the highway, one witnesses a 
          photogenic landscape of deciduous Teak trees, paddy fields, and a cluster of potters 
          practicing earthenware and clay works. </p><p>Inhabited by approximately 100 households, the 
          village is native to the traditional potter community, vernacularly known as Kumhaars.</p> 
        
      </div>
    </div>
  </div>
</div>
<br><br>