img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 145px;
}
span{
    float: right;
    font-size: 25px;
    color: #c43a2f;
    line-height: 2;
    margin-right: 10px;
}
button{
  float:right;
  padding: 0px;
}